<div class="row px-5 py-3 text-center">
    <div class="col">
        <h2>SINGLE PAGE APPLICATION</h2>
        <p>He construido, mì primera pagina "SPA"</p>
        <h4>QUE ES UN SPA ?</h4>
        <p id="spaContent">Las aplicaciones Angular 9 son conjuntos de páginas enrutadas en el propio navegador.<br>
         Son las conocidas SPA, Single Page Applications.<br>
        Estas apps liberan al servidor de una parte del trabajo reduciendo la cantidad de llamadas y mejorando la percepción de velocidad del usuario.</p>
    </div>
</div>

